<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xemio-GameLibrary" version="0.6.18" targetFramework="net40-Client" />
  <package id="Xemio-GameLibrary-GDI-Renderer" version="1.20.0" targetFramework="net40-Client" />
  <package id="Xemio-GameLibrary-Syncput" version="1.24.0" targetFramework="net40-Client" />
</packages>